
input[type="text"], input[type="password"] {
	padding: 7px 7px 7px 7px;
}

.container {
	margin:auto;
	width: 900px;
}

body {
	background: #fff;
	/*font-size: 14px;
	letter-spacing: 1px;*/
}

header {
	padding-top:20px;
}

header nav, footer nav {
	border: 1px solid #F0F0F0;
	background-color: #feebb7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#feebb7), to(#feebb7),color-stop(0.2, #fff));
}

/* the footer */

footer {
	text-align: center;
	margin-top: 10px;
	width:	900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	font-style: italic;
}


footer nav {
	float: none;
}

header img {
	padding: 1em;
	background: #fff;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

/* links */
a {
	color:	#09c;
	text-decoration: none;
}

a:hover {
	color:	#069;
	text-decoration: underline;
}

a:visited {
	color: #069;
	text-decoration: none;
}

/* navigation */
nav {
	float: right;
}

nav {
	background-color: #fff;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/*login button*/
a.button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 100px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* rounded corners */ 
.nav-round{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* the address block*/
.address {
	margin: 0;
	padding: 0;
}

.address li {
	list-style-type: none;
}

/* the user show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	/*background: #ffc;*/
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

/* some similarities */
.sidebar, section {
	border: 1px solid #F0F0F0;
}

/* for the registration page*/
div.field, div.actions {
	margin-bottom: 10px;
}

.register-button {
	padding: 5px 5px 5px 5px;
	background-color: #F0F0F0;
	/*float: right;*/
	
}

/* pages with errors */
.field_with_errors input{
	margin-top: 1px;
	/*padding: 2px;*/
	background-color: red;
	/*display: table;*/
	padding: 7px 7px 7px 7px;
}

#error_explanation {
	width: 100%;
	border: 1px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom:	20px;
	background-color: #f0f0f0;
}

/* on the home page */
.main-reg-login {
	position: relative;
	float: right;
	border: 1px solid #F0F0F0;
	background-color: #feebb7;
	padding: 2em 2em 2em 2em;
	height: 100px;
}

a.login-button, a.reg-button {
	border: 1px solid #fff;
	padding: 1em 1em 1em 1em;
	
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	
	font-size: 18px;
	
	box-shadow: 2px 2px 2px #bbb;
	-webkit-box-shadow: 2px 2px 3px #999;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
}

a.login-button:visited, a.login-button:hover, a.reg-button:visited, a.reg-button:hover {
	text-decoration: none;
}

/*login button*/
a.login-button {
	padding-left: 30px;
	padding-right: 30px;
}

/* the register button*/
a.reg-button {

}

/* end on the home page*/


