<section class="round">
	<h2><%= @title %></h2>

	<h3>The idea</h3>
	<p>
		We are a not for profit organisation, whose hope it is to employ an executive which will operate entirely as a volunteer board and employ individuals from the respective countries to work within the programme. These individuals are employed on a flexible (contract/part-time/full-time) basis so we are able to inject a small percentage of the donations to the local community.
		</p>
	<p>
		We have launched a pilot to determine the feasibility of the concept and to develop a framework within which it would operate. The results will be released during the latter part of 2012. This will be conducted wholly within Timor Leste, where we first conceived of the idea.
	</p>
	<br />
	
	<h3>How it works</h3>
	<%= image_tag("about-layout.png",:alt => "how we do it" ,:class => "round",:width => 850)%>
	<br />
</section>