<section class="round">
	<h2><%= @title %></h2>
	
	<h3>Mail</h3>
	<p>
		<ul class="address">
			<li>PO Box 3292</li>
			<li>Manuka 2603</li>
			<li>ACT</li>
			<li>Australia</li>
		</ul>
	</p>
	
	<h3>Email</h3>
	<p><%= link_to "info@hamutuk.org", "email:info@hamutuk.org" %></p>
	
	<h3>Phone & Fax</h3>
	<p>Yet to be created</p>
	
</section>
