
	<h2><%= @title %></h2>
	
	<h3>Mail</h3>
	<p>
		<ul class="address">
			<li>As yet unknown. Dili, Timor Leste</li>
		</ul>
	</p>
	
	<h3>Email</h3>
	<p><%= link_to "info@hamutuk.org", "mailto:info@hamutuk.org" %></p>
	
	<h3>Phone & Fax</h3>
	<p>Yet to be created</p>

