
<%= image_tag("test-image2.png", :alt => "test image" ,:class => "round", :width => 900) %>	

<section class="round">
	<h1><%= @title %></h1>
	
	<h2>Meaning</h2>
	<p>
	<strong>hamutuk</strong>: Timorese language (Tetun) - <i>meaning</i>: together <br /> </br />

	To develop the world, we must first invest in the development of it's people. If we do well, I hope others will follow
	</p>
	<h2>Our Goal</h2>
	
	<p>
		To change the world through education <br />
	</p>
	
	<h2>What we do</h2>
	
	<p>
		At <%= link_to "hamutuk.org", "/" %> we hope to inspire the young lives of so many children around the world, by providing information to the wider public, putting in their hands the power to effect a positive change in these young lives.
	</p>
</section>
