<footer>
	<nav class="nav-round">
		<ul>
			<li><%= link_to "hamutuk.org", root_path %></li>
			<li>Powered by Maxwell Technologies &copy 2012</li>
			<li><%= Time.now %></li>
		</ul>
	</nav>
</footer>