<!DOCTYPE html>
<html>
<head>
  <title>hamutuk.org</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "blueprint/screen" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="container">

<%= yield %>

</div>
</body>
</html>
