<!DOCTYPE html>
<html>
<head>
  <title>hamutuk.org</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" type="text/css" href="blueprint/screen.css">
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
